*{
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    justify-content: center;
    align-items: center;
}
#btn1{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#trocaCor{
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    width: 150px;
    height: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}